@charset "UTF-8";
.filter_box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 1%;
	width: 70%;
}

.location_filter_box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.tag_filter_box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.post_box {
	display: grid;
	width: 80%;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

.post {
	display: flex;
	margin: 3%;
	padding: 2%;
	border: 1px solid black;
}

.thumbnail {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	width: 100%;
	height: 200px;
	border: 1px solid black;
	width: 100%;
}